<div class="row">
    <select ng-model="orderProp">
        <option value="name">Nombre</option>
        <option value="number">Saldo</option>
    </select>
</div>

<div class="jumbotron">
    <ul class="list-group">
         <div class="col-sm-4 text-left">
         </div>
         <a ng-click="order('name')">
             <div class="col-sm-4 text-left">
                Nombre
             </div>
         </a>
         <a ng-click="order('balance')">
            <div class="col-sm-4 text-left">
                Saldo
             </div>
         </a>
    </ul>
  <ul class="list-group">
    <li class="list-group-item" ng-repeat="instrument in instruments | orderBy:orderProp">
        <div class="row">
            <div class="col-sm-4 text-left" ng-switch on="instrument.type">
                <img ng-src="images/ctahorro.jpg" ng-switch-when="ACC" />
                <img ng-src="images/tdc.jpg" ng-switch-when="TDC" />
            </div>
            <a ng-click="open(instrument.idE)"><div class="col-sm-4 text-left"><b>Nombre:</b>{{instrument.name}}</div></a>
            <div class="col-sm-4 text-left"><b>Balance:</b>{{instrument.balance | currency}}</div>
        </div>
        <div class="row">
            <div class="col-sm-8 col-sm-offset-4 text-left">{{instrument.number | limitTo:-5}}</div>
        </div>
    </li>
  </ul>
</div>
